<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <title>Flockly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= image_tag current_user.gravatar_hash if current_user %></br>
<%= "Welcome back, #{current_user.name}!" if current_user %>

<nav>
  <% if current_user %>
    <%= link_to "Log out", logout_path %>
<% end %>
</nav>

<%= yield %>

</body>
</html>
