<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Street %><br />
    <%= f.text_field :street %>
    <%= f.label :City %><br />
    <%= f.text_field :city %>
    <%= f.label :State %><br />
    <%= f.text_field :state %>
    <%= f.label :Zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p><%= f.submit %></p>
<% end %>
