<h3>Join a Flock</h3>

<%= form_tag do %>
<p>
  <%= text_field_tag :address, "Address" %>
</p>
<p>
  <%= text_field_tag :summary, "A brief summary" %>
</p>
<p>
  <%= text_area_tag :content, "What do you want to talk about?" %>
</p>
<p>
  <%= submit_tag "Submit" %>
</p>
<% end %>
