<h3>Join a Flock</h3>
<%= form_for message do |f| %>
<p>
  <%= f.text_field :address, { placeholder: "i.e. 10 E 21st Street, New York, NY" } %>
</p>
<p>
  <%= f.text_field :summary, { placeholder: "A brief summary" } %>
</p>
<p>
  <%= f.text_area :content, { placeholder: "What do you want to talk about?" } %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
